## Exercise 
### Task: Find the cheapest amd most expensive laptop of each company using the sort_values() and dulpicated() Methods (keep "First", "last" and false)

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("LaptopData.csv")

In [3]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

In [6]:
# sort the dataframe ascending by company amd price
# cheapest First and most Expensive at the end
df[["Brand","Price_USD"]].sort_values(ascending=False)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [7]:
df.sort_values(["Brand","Price_USD"],ascending=False)

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
...,...,...,...,...,...,...,...,...
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039

In [8]:
df.sort_values(["Brand","Price_USD"])

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
...,...,...,...,...,...,...,...,...
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [9]:
df = df.sort_values(["Brand","Price_USD"])

In [10]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
...,...,...,...,...,...,...,...,...
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [12]:
df.value_counts("Brand")

Brand
HP           28
Apple        24
Asus         18
Toshiba      18
Acer         17
Dell         17
LG           16
Microsoft    13
Lenovo       10
Samsung       6
Brand         1
Name: count, dtype: int64

In [16]:
# duplicated values in "Company" column (default -> keep='first')
duplicated_first = df.duplicated("Brand", keep="first")

In [17]:
# show dataframe with duplicated values in "company" column
df[duplicated_first]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
40,Acer,ThinkPad,Apple M1,16,256,13.3,Integrated,1147
...,...,...,...,...,...,...,...,...
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [18]:
# keep = "first" ("vheapest laptop per company")
# show dataframe without duplicated values in "company" column
df[~duplicated_first]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
54,Apple,Galaxy,Intel i5,8,512,14.0,AMD Radeon,1206
50,Asus,Aspire,Apple M2,16,512,15.6,AMD Radeon,1064
90,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
12,Dell,Satellite,Intel i5,32,512,14.0,NVIDIA GTX 1650,1048
36,HP,Pavilion,Intel i7,8,1024,13.3,Integrated,1041
25,LG,Surface,Apple M1,16,256,15.6,AMD Radeon,1022
73,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
22,Microsoft,Inspiron,AMD Ryzen 7,4,1024,15.6,NVIDIA GTX 1650,1013
64,Samsung,Pavilion,Apple M2,4,256,13.3,AMD Radeon,1162
74,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048

In [20]:
df[~duplicated_first][["Brand", "Price_USD"]]

        Brand  Price_USD
39       Acer       1039
54      Apple       1206
50       Asus       1064
90      Brand  Price_USD
12       Dell       1048
36         HP       1041
25         LG       1022
73     Lenovo       1312
22  Microsoft       1013
64    Samsung       1162
74    Toshiba       1048

In [22]:
# check all vlaue categories
df[~duplicated_first].value_counts("Brand")

Brand
Acer         1
Apple        1
Asus         1
Brand        1
Dell         1
HP           1
LG           1
Lenovo       1
Microsoft    1
Samsung      1
Toshiba      1
Name: count, dtype: int64