## drop_duplicate()

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("LaptopData.csv")

In [3]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

In [4]:
df.head(10)

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
5,Lenovo,ThinkPad,AMD Ryzen 5,32,128,15.6,NVIDIA GTX 1650,953
6,HP,Galaxy,AMD Ryzen 5,4,512,17.3,NVIDIA GTX 1650,1315
7,Toshiba,Satellite,Apple M2,4,1024,17.3,AMD Radeon,1153
8,HP,Galaxy,AMD Ryzen 3,16,128,17.3,Integrated,906
9,LG,Aspire,Apple M1,16,256,11.6,AMD Radeon,1108

In [5]:
# drop duplicates in 2 or more columns'
df.drop_duplicates(["Brand"])

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304
5,Lenovo,ThinkPad,AMD Ryzen 5,32,128,15.6,NVIDIA GTX 1650,953
7,Toshiba,Satellite,Apple M2,4,1024,17.3,AMD Radeon,1153
9,LG,Aspire,Apple M1,16,256,11.6,AMD Radeon,1108
10,Microsoft,Aspire,AMD Ryzen 5,8,1024,13.3,NVIDIA GTX 1650,907
24,Samsung,Galaxy,AMD Ryzen 7,32,512,11.6,NVIDIA MX350,891
30,Acer,ThinkPad,AMD Ryzen 3,8,128,15.6,NVIDIA MX350,879
90,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD

In [6]:
# drop duplicates and return the non-duplicates in 2 or more columns'
df.drop_duplicates(["Brand"])[["Brand","RAM_GB"]]

        Brand  RAM_GB
0          HP       8
1        Dell      32
2        Asus      32
3       Apple       4
5      Lenovo      32
7     Toshiba       4
9          LG      16
10  Microsoft       8
24    Samsung      32
30       Acer       8
90      Brand  RAM_GB

In [7]:
# count the values

In [8]:
df.drop_duplicates(["Brand"])[["Brand","RAM_GB"]].value_counts()

Brand      RAM_GB
Acer       8         1
Apple      4         1
Asus       32        1
Brand      RAM_GB    1
Dell       32        1
HP         8         1
LG         16        1
Lenovo     32        1
Microsoft  8         1
Samsung    32        1
Toshiba    4         1
Name: count, dtype: int64

In [9]:
df.drop_duplicates(["Brand"])[["Brand","RAM_GB"]].value_counts("Brand")

Brand
Acer         1
Apple        1
Asus         1
Brand        1
Dell         1
HP           1
LG           1
Lenovo       1
Microsoft    1
Samsung      1
Toshiba      1
Name: count, dtype: int64

In [10]:
# sort dataframe ascending by company and price
# cheapest first and most expensive last
df.sort_values(["Brand","Price_USD"])

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
...,...,...,...,...,...,...,...,...
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [12]:
## assign or update the dataframe on same
df = df.sort_values(["Brand","Price_USD"])

In [13]:
# cheapest : keep="First"
df.drop_duplicates(["Brand"], keep="first")

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
54,Apple,Galaxy,Intel i5,8,512,14.0,AMD Radeon,1206
50,Asus,Aspire,Apple M2,16,512,15.6,AMD Radeon,1064
90,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
12,Dell,Satellite,Intel i5,32,512,14.0,NVIDIA GTX 1650,1048
36,HP,Pavilion,Intel i7,8,1024,13.3,Integrated,1041
25,LG,Surface,Apple M1,16,256,15.6,AMD Radeon,1022
73,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
22,Microsoft,Inspiron,AMD Ryzen 7,4,1024,15.6,NVIDIA GTX 1650,1013
64,Samsung,Pavilion,Apple M2,4,256,13.3,AMD Radeon,1162
74,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048

In [14]:
# cheapest : keep="First"
df.drop_duplicates(["Brand"], keep="first")[["Brand","Price_USD"]]

        Brand  Price_USD
39       Acer       1039
54      Apple       1206
50       Asus       1064
90      Brand  Price_USD
12       Dell       1048
36         HP       1041
25         LG       1022
73     Lenovo       1312
22  Microsoft       1013
64    Samsung       1162
74    Toshiba       1048

In [15]:
# most expensive: keep="last"
df.drop_duplicates(["Brand"], keep="last")[["Brand","Price_USD"]]

         Brand  Price_USD
121       Acer        879
95       Apple        953
133       Asus        976
90       Brand  Price_USD
92        Dell        972
152         HP        962
163         LG        992
123     Lenovo        997
120  Microsoft        941
115    Samsung        891
84     Toshiba     961.05

In [19]:
df.drop_duplicates(["Brand"], keep="last", inplace=True)

In [20]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,Acer,ThinkPad,AMD Ryzen 3,8,128,15.6,NVIDIA MX350,879
1,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
2,Asus,ThinkPad,AMD Ryzen 3,8,128,11.6,Integrated,976
3,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
4,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
5,HP,MacBook,Intel i3,16,128,17.3,NVIDIA MX350,962
6,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
7,Lenovo,Gram,Intel i5,4,256,13.3,Integrated,997
8,Microsoft,Inspiron,AMD Ryzen 7,4,256,13.3,AMD Radeon,941
9,Samsung,Galaxy,AMD Ryzen 7,32,512,11.6,NVIDIA MX350,891
10,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [21]:
df.drop_duplicates(["Brand"], keep="last", inplace=False)

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,Acer,ThinkPad,AMD Ryzen 3,8,128,15.6,NVIDIA MX350,879
1,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
2,Asus,ThinkPad,AMD Ryzen 3,8,128,11.6,Integrated,976
3,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
4,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
5,HP,MacBook,Intel i3,16,128,17.3,NVIDIA MX350,962
6,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
7,Lenovo,Gram,Intel i5,4,256,13.3,Integrated,997
8,Microsoft,Inspiron,AMD Ryzen 7,4,256,13.3,AMD Radeon,941
9,Samsung,Galaxy,AMD Ryzen 7,32,512,11.6,NVIDIA MX350,891
10,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [22]:
df.drop_duplicates(["Brand"], keep="last", inplace=True, ignore_index=True)

In [23]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,Acer,ThinkPad,AMD Ryzen 3,8,128,15.6,NVIDIA MX350,879
1,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
2,Asus,ThinkPad,AMD Ryzen 3,8,128,11.6,Integrated,976
3,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
4,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
5,HP,MacBook,Intel i3,16,128,17.3,NVIDIA MX350,962
6,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
7,Lenovo,Gram,Intel i5,4,256,13.3,Integrated,997
8,Microsoft,Inspiron,AMD Ryzen 7,4,256,13.3,AMD Radeon,941
9,Samsung,Galaxy,AMD Ryzen 7,32,512,11.6,NVIDIA MX350,891
10,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [24]:
df.drop_duplicates(["Brand"], keep="last", inplace=True, ignore_index=False)

In [25]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,Acer,ThinkPad,AMD Ryzen 3,8,128,15.6,NVIDIA MX350,879
1,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
2,Asus,ThinkPad,AMD Ryzen 3,8,128,11.6,Integrated,976
3,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
4,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
5,HP,MacBook,Intel i3,16,128,17.3,NVIDIA MX350,962
6,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
7,Lenovo,Gram,Intel i5,4,256,13.3,Integrated,997
8,Microsoft,Inspiron,AMD Ryzen 7,4,256,13.3,AMD Radeon,941
9,Samsung,Galaxy,AMD Ryzen 7,32,512,11.6,NVIDIA MX350,891
10,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05