In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv("InternationalCricketor.csv")
# set index 
df.set_index("Player Name", inplace=True)
# select columns
df = df[["Country", "Matches", "Runs", "Wickets", "Innings"]]
df

                       Country  Matches   Runs  Wickets  Innings
Player Name
Virat Kohli              India      302  13906        4      289
Rohit Sharma             India      262  10709        8      256
Babar Azam            Pakistan      120   5084        1      120
Steve Smith          Australia      195   9449        0      182
Joe Root               England      171   7479        1      167
...                        ...      ...    ...      ...      ...
Mashrafe Mortaza    Bangladesh      220   1787      270      144
Mehidy Hasan Miraz  Bangladesh       78    803       78       49
Liton Das           Bangladesh       70   2231        0       69
Imrul Kayes         Bangladesh       78   2434        0       78
Soumya Sarkar       Bangladesh       64   1768        0       60

[197 rows x 5 columns]

# 1 Sample()

In [3]:
# etract 10 random elements from the "Country" column
df["Country"].sample(10)

Player Name
Shai Hope          West Indies
David Willey           England
Matthew Hayden       Australia
Tabraiz Shamsi    South Africa
Graeme Swann           England
Kieron Pollard     West Indies
Lorcan Tucker          Ireland
Andy Flower           Zimbabwe
Adam Gilchrist       Australia
Asghar Afghan      Afghanistan
Name: Country, dtype: object

In [4]:
df["Country"].sample(10, random_state=99)
# random state have random players

Player Name
Harbhajan Singh            India
Sanath Jayasuriya      Sri Lanka
Brydon Carse             England
James Vince              England
Mahmudullah           Bangladesh
John Mooney              Ireland
Heath Streak            Zimbabwe
Liam Plunkett            England
Chris Gayle          West Indies
Brian Lara           West Indies
Name: Country, dtype: object

In [5]:
df["Country"].sample(10, random_state=9)
# random state have random players

Player Name
Rassie van der Dussen    South Africa
Ibrahim Zadran            Afghanistan
Abdul Razzaq                 Pakistan
Mohammad Nabi             Afghanistan
William Porterfield           Ireland
Sean Williams                Zimbabwe
Nicholas Pooran           West Indies
Dwayne Bravo              West Indies
Aaron Finch                 Australia
Azmatullah Omarzai        Afghanistan
Name: Country, dtype: object

In [6]:
# extract a random 20% sample of the dataframe
df.sample(frac=0.2)

                           Country  Matches   Runs  Wickets  Innings
Player Name
Kyle Mills             New Zealand      170   1047      240      101
Eoin Morgan                England      248   6933        0      231
Herschelle Gibbs      South Africa      248   8094        0      240
Wasim Akram               Pakistan      356   3717      502      280
Jonny Bairstow             England      100   3011        0       94
Nasser Hussain             England       88   2332        0       79
Alzarri Joseph         West Indies       39     69       48       13
Curtis Campher             Ireland       15    225        7       12
Mashrafe Mortaza        Bangladesh      220   1787      270      144
Graeme Cremer             Zimbabwe       96    744      119       66
Tamim Iqbal             Bangladesh      241   8313        0      239
Sanath Jayasuriya        Sri Lanka      445  13430      323      433
Gulbadin Naib          Afghanistan       57    636       17       46
Upul Tharanga            Sri Lanka      235   6951        0      223
Mitchell Starc           Australia       99    571      195       57
David Willey               England       40    250       22       22
Qais Ahmad             Afghanistan       20     42       18        9
Aiden Markram         South Africa       32   1014        0       31
Andrew Flintoff            England      141   3394      169      122
Mohammad Nabi          Afghanistan      125   2372       52       95
Johnson Charles        West Indies       56   1141        0       51
Sean Williams             Zimbabwe      144   4103       76      140
Mehidy Hasan Miraz      Bangladesh       78    803       78       49
Nathan Astle           New Zealand      223   7090       99      217
Brendan Taylor            Zimbabwe      205   6684        9      203
David Warner             Australia      169   7074        0      168
Kane Williamson        New Zealand      167   6894        1      162
Najibullah Zadran      Afghanistan       62   1246        0       56
Mahmudullah             Bangladesh      209   5131       42      175
Tim Southee            New Zealand      143    682      190       89
Tillakaratne Dilshan     Sri Lanka      330  10290       39      303
Virender Sehwag              India      251   8273       96      245
Mark Adair                 Ireland       39    112       30       18
Jacques Kallis        South Africa      328  11579      273      314
Simi Singh                 Ireland       18     82       12       10
Jacob Oram             New Zealand      160   2434      173      116
Marlon Samuels         West Indies      207   5606       89      196
Mushfiqur Rahim         Bangladesh      236   7088        0      220
Heath Streak              Zimbabwe      189   2943      239      159

In [7]:
df.sample(frac=0.2, random_state=12)

                             Country  Matches   Runs  Wickets  Innings
Player Name
Wayne Parnell           South Africa       34     89       22       12
Martin Guptill           New Zealand      170   6521        0      165
Dwayne Bravo             West Indies      164   1463       66       99
Mushfiqur Rahim           Bangladesh      236   7088        0      220
Fakhar Zaman                Pakistan       72   2599        0       70
Kevin O'Brien                Ireland      148   2959       21      129
Afsar Zazai              Afghanistan       18    206        0       15
Mohammad Nabi            Afghanistan      125   2372       52       95
David Warner               Australia      169   7074        0      168
Tamim Iqbal               Bangladesh      163   6898        0      162
Carl Hooper              West Indies      227   5761      193      206
Nicholas Pooran          West Indies       80   1401        0       68
Akeal Hosein             West Indies       25     28       23        9
Graeme Smith            South Africa      197   6989        0      194
Dawlat Zadran            Afghanistan       76    409       85       42
Grant Flower                Zimbabwe      219   6571        0      214
Soumya Sarkar             Bangladesh       64   1768        0       60
Chaminda Vaas              Sri Lanka      322   2025      400      220
Suresh Raina                   India      226   5615       36      194
Shoaib Malik                Pakistan      287   7534      158      258
Michael Atherton             England      115   3390        0      108
Chris Gayle              West Indies      301  10562       20      294
Tim Murtagh                  Ireland       61    127       53       26
Imrul Kayes               Bangladesh       78   2434        0       78
Odean Smith              West Indies        9     71        5        6
Rashid Khan              Afghanistan       86    785      113       57
Sourav Ganguly                 India      311  11363      100      300
Simi Singh                   Ireland       18     82       12       10
Heath Streak                Zimbabwe      189   2943      239      159
Hamid Hassan             Afghanistan       30     77       32       16
Shivnarine Chanderpaul   West Indies      268   8778        0      251
Gautam Gambhir                 India      147   5238        0      143
Mark Boucher            South Africa      295   4686        0      221
Brian Lara               West Indies      299  10405        0      289
Rohit Sharma                   India      262  10709        8      256
Kane Williamson          New Zealand      167   6894        1      162
Shahid Afridi               Pakistan      398   8064      395      369
Jos Buttler                  England      181   4622        1      166
Michael Clarke             Australia      245   7981       31      223

In [8]:
# upsample: increase the sampling rate -> frac>1
# note: replace parameter has to be True for frac parameter>1)
df.sample(frac=2, replace=True)

                       Country  Matches   Runs  Wickets  Innings
Player Name
Rahul Dravid             India      344  10889        4      318
Alzarri Joseph     West Indies       39     69       48       13
Mujeeb Ur Rahman   Afghanistan       64    294       60       36
Mustafizur Rahman   Bangladesh       70     96      103       39
David Willey           England       40    250       22       22
...                        ...      ...    ...      ...      ...
Mitchell Starc       Australia       99    571      195       57
John Mooney            Ireland       66    560       34       42
Paul Stirling          Ireland      149   5334        2      145
Liton Das           Bangladesh       70   2231        0       69
Babar Azam            Pakistan      120   5084        1      120

[394 rows x 5 columns]

In [9]:
df.sample(frac=2, replace=True, random_state=1)

                           Country  Matches   Runs  Wickets  Innings
Player Name
Azmatullah Omarzai     Afghanistan       22    294       11       17
Jacques Kallis        South Africa      328  11579      273      314
Brydon Carse               England        4     12        3        2
Marlon Samuels         West Indies      207   5606       89      196
Harbhajan Singh              India      236   1237      269      128
...                            ...      ...    ...      ...      ...
Herschelle Gibbs      South Africa      248   8094        0      240
Ian Bell                   England      161   5416        0      157
Muttiah Muralitharan     Sri Lanka      350    674      534      162
Qais Ahmad             Afghanistan       20     42       18        9
Paul Collingwood           England      197   5092      111      181

[394 rows x 5 columns]