## Exercise 
### Task: Find the cheapest amd most expensive laptop of each company using the sort_values() and dulpicated() Methods (keep "First", "last" and false)

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("LaptopData.csv")

In [3]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
0,HP,ZenBook,AMD Ryzen 5,8,512,17.3,NVIDIA MX350,1099
1,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
2,Asus,Gram,Apple M1,32,128,13.3,NVIDIA MX350,1129
3,Apple,Gram,Intel i3,4,512,11.6,Integrated,1304
4,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
...,...,...,...,...,...,...,...,...
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
164,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
165,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048
166,Dell,ZenBook,Intel i5,8,256,13.3,Integrated,1209.03
167,Toshiba,Gram,Apple M1,4,128,11.6,AMD Radeon,809.39

In [4]:
# sort the dataframe ascending by company amd price
# cheapest First and most Expensive at the end
df[["Brand","Price_USD"]].sort_values(ascending=False)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [5]:
df.sort_values(["Brand","Price_USD"],ascending=False)

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
...,...,...,...,...,...,...,...,...
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039

In [6]:
df.sort_values(["Brand","Price_USD"])

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
...,...,...,...,...,...,...,...,...
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [7]:
df = df.sort_values(["Brand","Price_USD"])

In [8]:
df

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
...,...,...,...,...,...,...,...,...
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [9]:
df.value_counts("Brand")

Brand
HP           28
Apple        24
Asus         18
Toshiba      18
Acer         17
Dell         17
LG           16
Microsoft    13
Lenovo       10
Samsung       6
Brand         1
Name: count, dtype: int64

In [10]:
# duplicated values in "Company" column (default -> keep='first')
duplicated_first = df.duplicated("Brand", keep="first")

In [11]:
# show dataframe with duplicated values in "company" column
df[duplicated_first]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
40,Acer,ThinkPad,Apple M1,16,256,13.3,Integrated,1147
...,...,...,...,...,...,...,...,...
45,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
136,Toshiba,ZenBook,AMD Ryzen 7,4,256,14.0,Integrated,856
21,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
112,Toshiba,Surface,Intel i7,8,256,17.3,Integrated,954
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [12]:
df.head(20)

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
130,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
68,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
159,Acer,ZenBook,Apple M1,16,512,13.3,NVIDIA GTX 1650,1072
88,Acer,Pavilion,AMD Ryzen 5,32,1024,17.3,NVIDIA GTX 1650,1076.2
40,Acer,ThinkPad,Apple M1,16,256,13.3,Integrated,1147
131,Acer,ThinkPad,Apple M1,16,256,13.3,Integrated,1147
34,Acer,Pavilion,Apple M2,4,1024,15.6,AMD Radeon,1164
125,Acer,Pavilion,Apple M2,4,1024,15.6,AMD Radeon,1164
67,Acer,ThinkPad,Intel i5,32,512,13.3,NVIDIA GTX 1650,1200
158,Acer,ThinkPad,Intel i5,32,512,13.3,NVIDIA GTX 1650,1200
65,Acer,Pavilion,AMD Ryzen 5,4,512,15.6,Integrated,1271
156,Acer,Pavilion,AMD Ryzen 5,4,512,15.6,Integrated,1271
52,Acer,Surface,Apple M2,4,512,14.0,NVIDIA MX350,864
143,Acer,Surface,Apple M2,4,512,14.0,NVIDIA MX350,864
30,Acer,ThinkPad,AMD Ryzen 3,8,128,15.6,NVIDIA MX350,879
121,Acer,ThinkPad,AMD Ryzen 3,8,128,15.6,NVIDIA MX350,879
54,Apple,Galaxy,Intel i5,8,512,14.0,AMD Radeon,1206
145,Apple,Galaxy,Intel i5,8,512,14.0,AMD Radeon,1206
20,Apple,MacBook,AMD Ryzen 7,16,512,11.6,NVIDIA GTX 1650,1293

In [13]:
# keep = "first" ("vheapest laptop per company")
# show dataframe without duplicated values in "company" column
df[~duplicated_first]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
39,Acer,Inspiron,AMD Ryzen 5,4,256,17.3,Integrated,1039
54,Apple,Galaxy,Intel i5,8,512,14.0,AMD Radeon,1206
50,Asus,Aspire,Apple M2,16,512,15.6,AMD Radeon,1064
90,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
12,Dell,Satellite,Intel i5,32,512,14.0,NVIDIA GTX 1650,1048
36,HP,Pavilion,Intel i7,8,1024,13.3,Integrated,1041
25,LG,Surface,Apple M1,16,256,15.6,AMD Radeon,1022
73,Lenovo,ZenBook,AMD Ryzen 7,32,512,11.6,NVIDIA GTX 1650,1312
22,Microsoft,Inspiron,AMD Ryzen 7,4,1024,15.6,NVIDIA GTX 1650,1013
64,Samsung,Pavilion,Apple M2,4,256,13.3,AMD Radeon,1162
74,Toshiba,Aspire,Intel i3,16,1024,14.0,NVIDIA GTX 1650,1048

In [14]:
df[~duplicated_first][["Brand", "Price_USD"]]

        Brand  Price_USD
39       Acer       1039
54      Apple       1206
50       Asus       1064
90      Brand  Price_USD
12       Dell       1048
36         HP       1041
25         LG       1022
73     Lenovo       1312
22  Microsoft       1013
64    Samsung       1162
74    Toshiba       1048

In [15]:
# check all vlaue categories
df[~duplicated_first].value_counts("Brand")

Brand
Acer         1
Apple        1
Asus         1
Brand        1
Dell         1
HP           1
LG           1
Lenovo       1
Microsoft    1
Samsung      1
Toshiba      1
Name: count, dtype: int64

In [17]:
# keep = "last"
duplicated_last = df.duplicated("Brand", keep='last')

In [18]:
# keep = 'last' (most expensive laptop per company)
# show dataframe with non duplicated value in "company" column
df[~duplicated_last]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
121,Acer,ThinkPad,AMD Ryzen 3,8,128,15.6,NVIDIA MX350,879
95,Apple,Galaxy,Apple M2,8,256,15.6,NVIDIA MX350,953
133,Asus,ThinkPad,AMD Ryzen 3,8,128,11.6,Integrated,976
90,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
92,Dell,ZenBook,AMD Ryzen 3,32,256,13.3,AMD Radeon,972
152,HP,MacBook,Intel i3,16,128,17.3,NVIDIA MX350,962
163,LG,Inspiron,Apple M1,32,128,11.6,NVIDIA GTX 1650,992
123,Lenovo,Gram,Intel i5,4,256,13.3,Integrated,997
120,Microsoft,Inspiron,AMD Ryzen 7,4,256,13.3,AMD Radeon,941
115,Samsung,Galaxy,AMD Ryzen 7,32,512,11.6,NVIDIA MX350,891
84,Toshiba,Galaxy,Intel i7,4,256,11.6,NVIDIA MX350,961.05

In [19]:
df[~duplicated_last][["Brand", "Price_USD"]]

         Brand  Price_USD
121       Acer        879
95       Apple        953
133       Asus        976
90       Brand  Price_USD
92        Dell        972
152         HP        962
163         LG        992
123     Lenovo        997
120  Microsoft        941
115    Samsung        891
84     Toshiba     961.05

In [22]:
# keep = 'false'
# show dataframe with non-duplicated values in "Company" column
duplicated_False = df.duplicated("Brand", keep=False)

In [23]:
df[~duplicated_False]

,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD
90,Brand,Model,Processor,RAM_GB,Storage_GB,Screen_Size_inch,Graphics,Price_USD

In [24]:
# all the elements in compnay are required at least once
df.value_counts("Brand")

Brand
HP           28
Apple        24
Asus         18
Toshiba      18
Acer         17
Dell         17
LG           16
Microsoft    13
Lenovo       10
Samsung       6
Brand         1
Name: count, dtype: int64